.fiche__header {
  display: flex;
  justify-content: space-between;
}

.fiche__description {
  display: flex;
  justify-content: space-between;
  gap: 76px;
  padding-bottom: 45px;
}

@media (max-width: 768px) {
  .fiche__header {
    flex-direction: column;
  }

  .fiche__description {
    flex-direction: column;
    gap: 20px;
    padding-bottom: 35px;
  }
}
