.collapse {
  width: 100%;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: #ff6060;
    color: #fff;

    &__title {
      font-size: 24px;
      margin: 0;
    }

    &__icon {
      cursor: pointer;
      transition: all 0.3s;
    }
  }

  &__content {
    margin: 0;
    background-color: #f6f6f6;
    border-radius: 5px;
    padding: 0 30px;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.5s;

    list-style: none;

    &__open{
      margin: 0;
      background-color: #f6f6f6;
      padding: 30px;
      max-height: 200px;
      transition: all 0.5s;
      list-style: none;
    }
  }
}

@media (max-width: 768px) {
  .collapse {
    &__header {
      height: 30px;
      padding: 5px 15px;
      border-radius: 5px;
      background-color: #ff6060;
      color: #fff;

      &__title {
        font-size: 13px;
        margin: 0;
      }

      &__icon {
        width: 16px;
      }
    }
  }
}
