.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 100px;

  @media (max-width: 768px) {
    padding: 10px 20px;

    img {
      height: 42px;
    }
  }
}
