.ficheHeader {
  padding: 30px 0;

  &__title {
    margin: 0;
    font-size: 36px;
    font-weight: 500;
    color: #ff6060;
  }

  &__location {
    margin: 0;
    margin-bottom: 22px;
    font-size: 18px;
    font-weight: 500;
  }

  &__tags {
    display: flex;
    align-items: center;
    gap: 15px;

    &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 115px;
      padding: 0 15px;
      height: 25px;
      border-radius: 10px;
      font-size: 14px;
      font-weight: 500;
      background-color: #ff6060;
      color: #fff;
    }
  }
}

@media (max-width: 768px) {
  .ficheHeader {
    padding-top: 12px;
    padding-bottom: 0px;

    &__title {
      font-size: 18px;
    }

    &__location {
      margin-bottom: 10px;
      font-size: 14px;
    }

    &__tags {
      flex-wrap: wrap;
      &__item {
        min-width: 84px;
        height: 18px;
        padding: 0 15px;
        border-radius: 5px;
        font-size: 10px;
      }
    }
  }
}
